{{/* Veri değişkenini (dict "data" $data) iletilen parametreden alıyoruz */}}
{{ $data := .data }}

{{/* 'ms-3' sınıfı buton ile ikonlar arasına boşluk ekler */}}
<span class="ms-3">
    {{ range $data.hero.socialLinks.fontAwesomeIcons }}
    <span class="px-1">
        <a href="{{ .url }}"
            {{ if not (hasPrefix .url "#") }} target="_blank" {{ end }}
            class="hero-social-link"
        >
            <i class="{{ .icon }}"></i>
        </a>
    </span>
    {{ end }}

    {{ range $data.hero.socialLinks.customIcons }}
    <span class="px-1">
        <a href="{{ .url }}"
            {{ if not (hasPrefix .url "#") }} target="_blank" {{ end }}
            class="hero-social-link"
        >
            <img src="{{ .icon }}">
        </a>
    </span>
    {{ end }}
</span>