{{/* Veri değişkenini (dict "data" $data) iletilen parametreden alıyoruz */}}
{{ $data := .data }}

<span>
    {{ range $data.hero.socialLinks.fontAwesomeIcons }}
    <span class="px-1">
        {{/* DEĞİŞTİ: class="btn social-icon" yerine class="hero-social-link" kullanıldı */}}
        <a href="{{ .url }}"
            {{ if not (hasPrefix .url "#") }} target="_blank" {{ end }}
            class="hero-social-link"
        >
            <i class="{{ .icon }}"></i>
        </a>
    </span>
    {{ end }}

    {{ range $data.hero.socialLinks.customIcons }}
    <span class="px-1">
        {{/* DEĞİŞTİ: class="btn social-icon" yerine class="hero-social-link" kullanıldı */}}
        <a href="{{ .url }}"
            {{ if not (hasPrefix .url "#") }} target="_blank" {{ end }}
            class="hero-social-link"
        >
            <img src="{{ .icon }}">
        </a>
    </span>
    {{ end }}
</span>